<div class="container">
    <h1>Shipment</h1>
    <form [formGroup]="getShipmentForm">
        <div class="row">
            <div class="col" formGroupName="contact">
                <h3>Contact</h3>
                <label> Name</label>
                <input type="text" class="form-control mb-2" placeholder="Name" formControlName="name">
                <label> Email</label>
                <input type="text" class="form-control mb-2" placeholder="Email" formControlName="email">
                <label> Phone</label>
                <input type="number" class="form-control mb-2" placeholder="Phone" formControlName="phone">
                <label> Country Code</label>
                <input type="text" class="form-control mb-2" placeholder="FR" formControlName="countryCode">
                <label> Locality</label>
                <input type="text" class="form-control mb-2" placeholder="Locality" formControlName="locality">
                <label> Postal Code</label>
                <input type="text" class="form-control mb-2" placeholder="Postal Code" formControlName="postalCode">
                <label>Address</label>
                <input type="text" class="form-control mb-2" placeholder="address_line1" formControlName="address">
            </div>
            <div class="col" formGroupName="destination">
                <h3>Destination</h3>
                <label> Name</label>
                <input type="text" class="form-control mb-2" placeholder="Name" formControlName="name">
                <label> Email</label>
                <input type="text" class="form-control mb-2" placeholder="Email" formControlName="email">
                <label> Phone</label>
                <input type="number" class="form-control mb-2" placeholder="Phone" formControlName="phone">
                <label> Country Code</label>
                <input type="text" class="form-control mb-2" placeholder="FR" formControlName="countryCode">
                <label> Locality</label>
                <input type="text" class="form-control mb-2" placeholder="Locality" formControlName="locality">
                <label> Postal Code</label>
                <input type="text" class="form-control mb-2" placeholder="postal_code" formControlName="postalCode">
                <label>Address</label>
                <input type="text" class="form-control mb-2" placeholder="address_line1" formControlName="address">
            </div>
        </div>
        <h3>Package</h3>
        <div class="row" formGroupName="package">
            <div class="col" formGroupName="dimension">
                <h3>Dimensions</h3>
                <label>Height</label>
                <input type="number" class="form-control mb-2" placeholder="Height" formControlName="height">
                <label>Width</label>
                <input type="number" class="form-control mb-2" placeholder="Width" formControlName="width">
                <label>Length</label>
                <input type="number" class="form-control mb-2" placeholder="Length" formControlName="length">
                <label>Unit</label>
                <input type="text" class="form-control mb-2" placeholder="Cm" formControlName="unit" readonly>
            </div>
            <div class="col" formGroupName="grossWeight">
                <h3>Gross Weight</h3>
                <label>Amount</label>
                <input type="number" class="form-control mb-2" placeholder="Amount" formControlName="amount">
                <label>Unit</label>
                <input type="text" class="form-control mb-2" placeholder="Kg" formControlName="unit" readonly>
            </div>
        </div>
        <div class="col-6 pl-0">
            <h3>Reference Number</h3>
            <input type="number" class="form-control" formControlName="ref">
        </div>
    </form>
    <button class="btn btn-danger float-right mb-4" (click)="deleteShipment()">Delete</button>
</div>