<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="createShipment">Create Shipment</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Reference Number" aria-label="Search"
                [formControl]="refId">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)=getShipment()>Search</button>
        </div>
    </div>
</nav>
